# Gurobi logs
gurobi.log
# Slurm logs
slurm
# NanoSim for dev
extern/nanosim

# JetBeans IDE
.idea

# Snakemake
.snakemake

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.dbg
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
freddie
freddie_dbg
*.exe
*.out
*.app

*.dot
*.pdf
*.paf
*.mat
*.data
.vscode/settings.json
